<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Shinobido_Custom_Missions_PS2_to_PSP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <Shinobido_Custom_Missions_PS2_to_PSP.Properties.Settings>
            <setting name="PS2MCPath" serializeAs="String">
                <value />
            </setting>
            <setting name="PSPMSPath" serializeAs="String">
                <value />
            </setting>
            <setting name="TypeAssassination" serializeAs="String">
                <value>Mission Type Assassination</value>
            </setting>
            <setting name="TypeTotalDestruction" serializeAs="String">
                <value>Mission Type Total Destruction</value>
            </setting>
            <setting name="TypeDuel" serializeAs="String">
                <value>Mission Type Duel</value>
            </setting>
            <setting name="TypeGuard" serializeAs="String">
                <value>Mission Type Guard</value>
            </setting>
            <setting name="TypeAssault" serializeAs="String">
                <value>Mission Type Assault</value>
            </setting>
            <setting name="TypeEscort" serializeAs="String">
                <value>Mission Type Escort</value>
            </setting>
            <setting name="TypeTransport" serializeAs="String">
                <value>Mission Type Transport</value>
            </setting>
            <setting name="TypeRobbery" serializeAs="String">
                <value>Mission Type Robbery</value>
            </setting>
            <setting name="TypeTheft" serializeAs="String">
                <value>Mission Type Theft</value>
            </setting>
            <setting name="TypeKidnapping" serializeAs="String">
                <value>Mission Type Kidnapping</value>
            </setting>
            <setting name="TypeRescue" serializeAs="String">
                <value>Mission Type Rescue</value>
            </setting>
            <setting name="TypeCollection" serializeAs="String">
                <value>Mission Type Collection</value>
            </setting>
            <setting name="TypeTravel" serializeAs="String">
                <value>Mission Type Travel</value>
            </setting>
            <setting name="Title" serializeAs="String">
                <value>Mission Editor Data</value>
            </setting>
            <setting name="Detail" serializeAs="String">
                <value>Mission Name</value>
            </setting>
            <setting name="CreatedBy" serializeAs="String">
                <value>Created By </value>
            </setting>
            <setting name="GameTitle" serializeAs="String">
                <value>Shinobido: Tales of the Ninja</value>
            </setting>
        </Shinobido_Custom_Missions_PS2_to_PSP.Properties.Settings>
        <Properties.Settings>
            <setting name="PS2MCPath" serializeAs="String">
                <value />
            </setting>
            <setting name="PSPMSPath" serializeAs="String">
                <value />
            </setting>
            <setting name="TypeAssassination" serializeAs="String">
                <value>Mission Type: Assassination</value>
            </setting>
            <setting name="TypeTotalDestruction" serializeAs="String">
                <value>Mission Type: Total Destruction</value>
            </setting>
            <setting name="TypeDuel" serializeAs="String">
                <value>Mission Type: Duel</value>
            </setting>
            <setting name="TypeGuard" serializeAs="String">
                <value>Mission Type: Guard</value>
            </setting>
            <setting name="TypeAssault" serializeAs="String">
                <value>Mission Type: Assault</value>
            </setting>
            <setting name="TypeEscort" serializeAs="String">
                <value>Mission Type: Escort</value>
            </setting>
            <setting name="TypeTransport" serializeAs="String">
                <value>Mission Type: Transport</value>
            </setting>
            <setting name="TypeRobbery" serializeAs="String">
                <value>Mission Type: Robbery</value>
            </setting>
            <setting name="TypeTheft" serializeAs="String">
                <value>Mission Type: Theft</value>
            </setting>
            <setting name="TypeKidnapping" serializeAs="String">
                <value>Mission Type: Kidnapping</value>
            </setting>
            <setting name="TypeRescue" serializeAs="String">
                <value>Mission Type: Rescue</value>
            </setting>
            <setting name="TypeCollection" serializeAs="String">
                <value>Mission Type: Collection</value>
            </setting>
            <setting name="TypeTravel" serializeAs="String">
                <value>Mission Type: Travel</value>
            </setting>
            <setting name="Title" serializeAs="String">
                <value>Mission Editor Data</value>
            </setting>
            <setting name="Detail" serializeAs="String">
                <value>Mission Name</value>
            </setting>
        </Properties.Settings>
        <Settings>
            <setting name="PS2MCPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="PSPMSPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="TypeAssassination" serializeAs="String">
                <value>Mission Type: Assassination</value>
            </setting>
            <setting name="TypeTotalDestruction" serializeAs="String">
                <value>Mission Type: Total Destruction</value>
            </setting>
            <setting name="TypeDuel" serializeAs="String">
                <value>Mission Type: Duel</value>
            </setting>
            <setting name="TypeGuard" serializeAs="String">
                <value>Mission Type: Guard</value>
            </setting>
            <setting name="TypeAssault" serializeAs="String">
                <value>Mission Type: Assault</value>
            </setting>
            <setting name="TypeEscort" serializeAs="String">
                <value>Mission Type: Escort</value>
            </setting>
            <setting name="TypeTransport" serializeAs="String">
                <value>Mission Type: Transport</value>
            </setting>
            <setting name="TypeRobbery" serializeAs="String">
                <value>Mission Type: Robbery</value>
            </setting>
            <setting name="TypeTheft" serializeAs="String">
                <value>Mission Type: Theft</value>
            </setting>
            <setting name="TypeKidnapping" serializeAs="String">
                <value>Mission Type: Kidnapping</value>
            </setting>
            <setting name="TypeRescue" serializeAs="String">
                <value>Mission Type: Rescue</value>
            </setting>
            <setting name="TypeCollection" serializeAs="String">
                <value>Mission Type: Collection</value>
            </setting>
            <setting name="TypeTravel" serializeAs="String">
                <value>Mission Type: Travel</value>
            </setting>
            <setting name="Title" serializeAs="String">
                <value>Mission Editor Data</value>
            </setting>
            <setting name="Detail" serializeAs="String">
                <value>Mission Name</value>
            </setting>
        </Settings>
    </userSettings>
</configuration>
